/* FloatingCabIcon.css */

.floating-cab-icon {
  position: fixed;
  bottom: 20%; /* Adjust this value to control the vertical position */
  right: 5%; /* Adjust this value to control the horizontal position */
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  z-index: 1000; /* Ensure it's on top of other content */
}

.floating-cab-icon:hover {
  color: #fff; /* Change color on hover */
  transform: scale(1.1); /* Optional: Add a scale effect on hover */
}
